/*Main page*/
*{
    padding: 0;
    margin: 0;
}

body{
   background-color: #0D1821;
}
.sidenav a{
    text-decoration: none;
}
.type{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot button{
    
    margin-top: 5vh;
    width: fit-content;
    height: fit-content;
    box-shadow: inset 0 0 0 4px #344966;
    color: #B4CDED;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}
.bot button::before,.bot button::after{
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}
.bot button::before{
    border-bottom-width: 4px;
    border-left-width: 4px;
}
.bot button::after{
    border-top-width: 4px;
  border-right-width: 4px;
}
.bot button:hover{
    color: #BFCC94;
}
.bot button:hover::before,.bot button:hover::after{
    border-color: #BFCC94;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}
.bot button:hover::before{
    transition-delay: 0s, 0s, 0.25s;
}
.bot button:hover::after{
    transition-delay: 0s, 0.25s, 0s;
}
.btn{
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 3vw monospace;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}
.btn:focus{
    outline: none;
}

.type h1{
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .20em solid rgb(255, 255, 255); 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .15em; 
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 255, 255) }
  }
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #344966;
    overflow: hidden;
    padding-top: 30px;
    transition: 0.5s;
}

.sidenav .menu{
    padding: 8px 8px 8px 32px;
    width: fit-content;
    height: 20px;
    margin: 5vh 0px ;
    text-decoration: none;
    font-size: 25px;
    color: #F0F4EF;
    display: block;
    font-family: sans-serif;
    transition: 0.3s;
}
.sidenav .menu:hover{
    box-shadow:  0 0 1em rgba(50,50,50,0.9);
    -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.social{
    display: flex;
    position: absolute;
    bottom: 5%;
    margin-left: 80px;
    

}
.social img{
    padding: 10px;
    max-width: 30px;
    max-height: 30px;
}

.sidebox{
    position: fixed;
    background-color: #344966;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 100%;
    width: 50px;
    transition: .5s;
}
.sidebox:before{
    border-radius:50%;
    background: white;
    transition: .5s;
}
.sidebox:hover:before{
    box-shadow: 0 0 15px white;
    filter: blur(3px);
}
.sidebox:hover{
    box-shadow: 0 0 15px #BFCC94;
}


.sidebox img{
    margin: 5px 0px;
    max-width: 35px;
    max-height: 35px;
}
.sidebox img:hover,.sidenav img:hover{
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222);
}
.logo-2{
    margin: 0px 0px 0px 30px;
    min-width: 50px;
    min-height: 50px;
    width: 60%;
    height: 15%;
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    font-family: sans-serif;
    margin-left: 50px;
    color: #111;
}
h1,h2{
    text-align: center;
    color: #F0F4EF;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 60px;
}
.hello{
    margin-left: 10vw;
    font-size: 5vw;
}
h2{
    margin-top: 35Vh;
    font-size: 3vw;
}
/*Experiences page*/

/*Time line*/
.timeline{
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    
    flex-direction: column;
}
.newdate{
    margin-bottom:1vw;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 30vh;
}
.newdate .container{
    display: grid;
    width: 50%;
    grid-template-columns: 50% 50%;
    grid-auto-flow: row;
    word-break: normal;
    height: 100%;
}
.newdate .cont{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin-bottom: 5vw;
    margin-top: 30px;
    font-family: monospace;
}
.newdate .img{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    
    color: #BFCC94;
    font-size: 3vw;
}
.body{
    color:#F0F4EF;
    font-size: 1.7vw;
}
.newdate img{
    border: solid 1px black;
    height: 12vw;
    width: 12vw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 10px;
    border-radius: 50%;
    box-shadow: 0 0 20px #BFCC94;
    
}
@media(max-width:570px){
    .newdate .container{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }
}
/*Projects page*/

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-left: 50px;
    margin-top: 20px;
    min-height: 0;
    min-width: 0;
    padding: 0 5vw ;
    row-gap: 3vw;
    column-gap: 0;
}

.cards .pcard{
    display: flex;
    background-color: #344966;
    flex-direction: column;
    width: 50vh;
    height: 40vh;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}
.pcard .ctitle{
    font-size: 3vw;
    color: #F0F4EF;
}
.pcard .ctext{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 10px;
}
.pcard .cbody{
    color: #BFCC94;
    font-size: 2vw;
}
.pcard:before{
    background: white;
    transition: .5s;
}
.pcard:hover:before{
    box-shadow: 0 0 15px white;
    filter: blur(3px);
}
.pcard:hover{
    box-shadow: 0 0 15px #BFCC94;
}
.pcard img{
    height: 200px;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
}

@media(max-width:1200px){
    .cards{
        grid-template-columns: 50% 50%;
    }
}
@media(max-width:865px){
    .cards{
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}
@media(max-width:488px){
    .cards .pcard{
        width: 55vw;
        height: 40vw;
    }
}
.modal-box{
    position: fixed;
    grid-template-rows: 60% 40% ;
    justify-content: center;
    row-gap: 2vw;
    left: 0;
    top: 0;
    overflow-y:auto;
    margin: 10px;
    height: 100%;
    width: 60%;
    /*width*/
    background-color: #F0F4EF;
    padding: 3vw;
}

.modal-header{ 
    width: 100%;
}
.modal-body{
    text-align: center;
    width: 100%;
    
}
.modal-box img{
    height: 50%;
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    
}
.close-modal{
    top: 0;
    right: 0;
    margin: 2vw 35% 0 0;
    color: black;
    cursor: pointer;
    font-weight: 900;
    font-size: 40px;
    position: fixed;
    z-index: 10;
}

.close-modal:hover{
    color: #344966;
}
.body-text{
    font-size: 2vw;
    font-family: monospace;
}
.mtitle{
    font-family: monospace;
    font-size: 3vw;
    color: #344966;
}
/*slider*/
.slider{
    justify-content: center;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.s-controlls{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.s-controlls div{
    font-family: monospace;
    color: black;
    font-weight: 900;
    font-size: 5vh;
    margin: 0 5vw;
}
.s-controlls div:hover{
    cursor: pointer;
    color: #344966;
}
.s-content img{
    width: 100%;
    height: 100%;
}
.s-content{
    display: flex;
    align-items: center;
    height: 100%;
    width: 70%;
}
@media(max-width:490px){
    .close-modal{
        margin: 2vw 15% 0 0;
    }
    .modal-box{
        width: 80%;
    }
}
@media(max-width:500px){
    .s-content{
       width: 100%; 
    }
}
/*About page*/

.about-t{
    margin-left: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-h img{
    border: solid 10px #344966;
    height: 12vw;
    width: 12vw;
    min-width: 100px;
    min-height: 100px; 
    border-radius: 50%;
}
.about-b{
    margin-top: 3vw;
    width: 90%;
    height: 50%;
    font-size: 2.5vw;
    font-family: monospace;
    color: #BFCC94;
    text-align: center;
}
.about-f{
    bottom: 0;
    position: absolute;
    margin-bottom: 2vw;
}
.about-l{
    display: flex;
    margin-bottom: 30px;
}
.git{
    background-color: #344966;
}
.lkdr{
    background-color: black;
}
.about-f img{
    margin: 0 30px;
    border: solid 1vw #344966;
    height: 70px;
    width: 70px;
    cursor: pointer;
    border-radius: 50%;
}
.about-f img:hover{
    border: solid 1vw #0D1821;
    -webkit-filter: drop-shadow(2px 2px 2px #344966);
    filter: drop-shadow(2px 2px 2px #344966);
}

